 .nameSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#grantPic {
    width: 100px;
    height: 100px;

}

.border {
    border: solid black 3px;
}

.parallax{
    height: 250px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}




.name {
    color: red;
} 